[submodule "OpenSpec"]
	path = OpenSpec
	url = https://github.com/Fission-AI/OpenSpec
[submodule "agent-dev-kit"]
	path = agent-dev-kit
	url = git@github.com:jiying2007/agent-dev-kit.git
[submodule "scale-engine"]
	path = scale-engine
	url = https://gitee.com/hongmaple/scale-engine.git
[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers
[submodule "vibeflow"]
	path = vibeflow
	url = https://github.com/ttttstc/vibeflow.git
