[submodule "OpenSpec"]
	path = OpenSpec
	url = https://github.com/Fission-AI/OpenSpec
[submodule "agent-dev-kit"]
	path = agent-dev-kit
	url = git@github.com:jiying2007/agent-dev-kit.git
[submodule "scale-engine"]
	path = scale-engine
	url = https://gitee.com/hongmaple/scale-engine.git
[submodule "superpowers"]
	path = superpowers
	url = https://github.com/obra/superpowers
[submodule "vibeflow"]
	path = vibeflow
	url = https://github.com/ttttstc/vibeflow.git
[submodule "oh-my-codex"]
	path = oh-my-codex
	url = https://github.com/Yeachan-Heo/oh-my-codex.git
[submodule "planning-with-files"]
	path = planning-with-files
	url = https://github.com/OthmanAdi/planning-with-files.git
